<p id="notice"><%= notice %></p>

<p>
  <strong>How many:</strong>
  <%= @apply.how_many %>
</p>

<p>
  <strong>Time:</strong>
  <%= @apply.time %>
</p>

<%= link_to 'Edit', edit_apply_path(@apply) %> |
<%= link_to 'Back', applies_path %>
