<head>
    
</head>
<body>
    <style>
        p{
            font-size: 25px;
        }
        h1{
            margin:5rem;
            text-align:center;
        }
       
    </style>
  <p id="notice"><%= notice %></p>
  
  <p>
    <strong>이름</strong>
    <%= current_user.name %>
  </p>
  <p>
    <strong>인원수</strong>
    <%= @apply.how_many %>
  </p>
  
  <p>
    <strong>시간</strong>
    <%= @apply.time %>
  </p>
  
  <%= link_to 'Edit', edit_apply_path(@apply) %> |
  <%= link_to 'Back', applies_path %>

</body>
