<html>
    <head>
        
    </head>
    <body>
        <div class="container">
            <h1>건의사항 게시판</h1>
            <%= form_tag("/police/make_report", method: "post") do %>
              <p class="labels"><%= label_tag(:title, "제목") %></p>
              <%= text_field_tag(:name, "") %>
              <p class="labels"><%= label_tag(:title, "내용") %></p>
              <%= text_area_tag :content , " " , :rows => 10 , :cols => 120  %>
              <%= submit_tag("작성", :class => "btn btn-primary btn-lg", :style => "font-size: 35px; margin-top: 10px; margin-bottom: 10px;") %>
            <% end %>

        </div>
    </body>
</html>