<!DOCTYPE html>
<html lang="en">

  <head>

  </head>
  
  <body>

  <div class="container">
    <section class="gs_map">
      <h1 style="text-align: center;">곰상주변</h1>
      <div class="gom_map">
        <% @jujums.each do |jujum| %>
         <div class="<%= jujum.idd %>">
           <a href="#<%= jujum.idd %>_c">
            <button class="<%= jujum.idd %>_btn"><%= jujum.major %></button>
           </a>
         </div>
        <% end %>
      </div>
    </section>
  </div>

      <section class="jujum">
        <h1 class="no_show">학과 주점정보</h1>
        <div class="container">
            <div class="lineup">
              <div id="accordion">
                
                
                <div class="card" id="chonghak_c">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="time_header">
                    <div class="card-header" id="headingchonghak">
                        <h2 class="mb-0">총학생회부스</h2>
                    </div>
                  </button>
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      <div class="">
                        <div style="text-align: center;">
                          <img src="/img/event_3.jpg" alt="AWGA" class="mj_img">
                          <p>SEMI CLUB</p>
                          <a href="/event/detail/3" class="btn btn-primary">자세히 보기</a>
                        </div>
                        <div style="text-align: center;">
                         <img src="/img/event_8_1.jpg" alt="총학부스" class="mj_img">
                         <p>재미난 것이 많은 총학생회!</p>
                        <a href="/event/detail/8" class="btn btn-primary">자세히 보기</a>
                          </div>
                        </div>
                      </div>

                    </div>
                </div>
                <div class="card" id="foodtruck_c">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" id="time_header">
                    <div class="card-header" id="headingfood_truck">
                        <h2 class="mb-0">푸드트럭</h2>
                    </div>
                  </button>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                      <div class="">
                        <div style="text-align: center;">
                          <img src="/img/event_6_1.jpg" alt="foodtruck" class="mj_img">
                          <p>날이면 날마다 오는 푸드트럭이 아니다! 먹어보쟈!</p>
                          <a href="/event/detail/6" class="btn btn-primary">자세히 보기</a>
                        </div>
                        
                        </div>
                      </div>

                    </div>
                </div>
              <!--반복문 끝-->
          
            </div>
        </div>
      </div>
    </section>

  </body>
  <script>
  <% @jujums.each do |v| %>
    $("div.<%= v.idd%> a").click(function(){  // 네비게이션 클릭시
          var direction = $(this).attr("href");   // direction = 클릭한 요소의 href 속성
          scrolling( direction ); // direction 을 인자로 함수 실행
          return false;   // 본래 이벤트 방지 
      });
  <% end %>
  </script>
</html>
