<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
  <div class="container">
     <div class="search_box">

      <form class="form-inline" action="/plan/search" method="get">
        <label><h2>검색 &nbsp</h2></label>
        <input class="form-control mr-sm-2" type="search" placeholder="ex)싸이" aria-label="Search" name="search_info">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
   </div>
    <div class="clock_con">
      <% if @day == 0 %>
        <h2>축제 시작 전 입니다.</h2>
      <% elsif @day == 1 %>
        <h2>DANFESTA 1일차 실시간!</h2>
      <% elsif @day == 2 %>
        <h2>DANFESTA 2일차 실시간!</h2>
      <% elsif @day == 3 %>
        <h2>DANFESTA 3일차 실시간!</h2>
      <% else %>
        <h2>축제가 모두 끝났습니다.</h2>
      <% end %>
      <span class="clock"></span>
    </div>
  </div>
  <div class="container">
    <section class="perform">
      <div class="pocpo">
        <h2>폭포공원</h2>
         <% if @now_busk.nil? %>
            <a href="/home/pocpo"><img src="/img/buth.png" alt="부스이미지"></a>
            <h3>다양한 부스 운영중!</h3>
            <p>비주얼존, 프리마켓 등 다양한 부스 체험해보세요!</p>
        <% elsif @now_busk.nil == false %>
          <% @now_busk.each do |busk| %>
            <img src="<%= busk.img_addr %>" alt="<%= busk.name %>">
            <h3><%= busk.name %></h3>
            <p><%= busk.info %></p>
          <% end %>
        <% else %>
            <img src="/img/loading2.png" alt="현재 이벤트 없음.">
            <h3>이벤트 준비중입니다.</h3>
            <p>현재 진행중인 이벤트가 없습니다.</p>
        <% end %>
      </div>
      <div class="rooftop">
        <h2>혜당관 앞</h2>
        <% if @hd == true %>
        <a href="/home/hd_front"><img src="/img/buth.png" alt="부스이미지"></a>
        <h3>다양한 부스 운영중!</h3>
        <p>학과 및 동아리의 다양한 프로그램 체험하고 가세요~</p>
        <% else %>
        <img src="/img/loading2.png" alt="현재 이벤트 없음.">
        <h3>이벤트 준비중입니다.</h3>
        <p>현재 진행중인 이벤트가 없습니다.</p>
        <% end %>
      </div>
      <div class="nocheon">
        <h2>노천마당</h2>
        <% if @now_singer.nil? %>
            <img src="/img/loading2.png" alt="현재 이벤트 없음.">
            <h3>이벤트 준비중입니다.</h3>
            <p>현재 진행중인 이벤트가 없습니다.</p>
        <% else %>
          <% @now_singer.each do |singer| %>
            <img src="<%= singer.img_addr %>" alt="<%= singer.name %>">
            <h3><%= singer.name %></h3>
            <p><%= singer.info %></p>
          <% end %>
        <% end %>
      </div>
      <div class="frontlaw">
        <h2>평화의 광장</h2>
         <% if @peace == true %>
          <a href="/home/gomsang"><img src="/img/mukguri.png" alt="먹거리장터"></a>
          <h3>먹거리장터 운영중!</h3>
          <p>학생회 및 동아리 먹거리장터에서 돼지되세요!</p>
        <% else %>
          <img src="/img/loading2.png" alt="현재 이벤트 없음.">
          <h3>이벤트 준비중입니다.</h3>
          <p>현재 진행중인 이벤트가 없습니다.</p>
        <% end %>
      </div>
    </section>
  </div>
<!-- 슬라이드 -->
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fdku50sol%2Fvideos%2F884795598358573%2F&show_text=0&autoplay=1" width="95%" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
    </div>
  </div>
</div>

<!-- 주의사항 및 사용법! -->
  <section class="notice">
    <div></div>
    <div></div>
    <div></div>

  </section>
  </body>
</html>
