<html>
    <head>
        <link href="/css/my_page.css" rel="stylesheet">
    </head>
    <body>
    <div class="container my_info">
             <h1 style="text-align:center;"><%= current_user.email %>님의 페이지</h1>
             <div class="my_info">
                 <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">내 정보</a>
                      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">내 이벤트 신청목록</a>
                      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">내 신고글</a>
                </div>
                <div class="tab-content my_con" id="v-pills-tabContent">
                      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="container">
                          <div class="field">
                           <h2>이름</h2>
                           <p class="breadcrumb"><%= current_user.name %></p>
                          </div>
                        
                          <div class="field">
                           <h2>학번</h2>
                           <p class="breadcrumb"><%= current_user.student_id %></p>
                          </div>
                          <div class="field">
                           <h2>이메일</h2>
                           <p class="breadcrumb"><%= current_user.email %></p>
                          </div>
                          <div class="field">
                           <h2>전화번호</h2>
                           <p class="breadcrumb"><%= current_user.phone_number %></p>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <% @my_events.each do |event| %>
                          <div class="card event">
                            <img class="card-img-top" src="/img/mini<%= event.event_id %>.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">WATERBATTLE Navy vs. Pirates </h5>
                              <a href="/applies/<%= event.id %>" class="btn btn-primary">내 신청정보 보기</a>
                            </div>
                          </div>
                        <% end %>
                      </div>
                      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                          <h1 style="text-align:center;">내 신고글</h1>
                          <% unless @my_reports.empty? %>
                            <table class="table reports">
                              <thead class="thead-dark">
                                <tr>
                                  <th scope="col" >#</th>
                                  <th scope="col" colspan="6">제목</th>
                                  <th scope="col" >작성자</th>
                                  <th scope="col" colspan="3">작성시간(+9)</th>
                                </tr>
                              </thead>
                              <tbody>
                                  <% @my_reports.each do |report| %>
                                    <tr>
                                      <th scope="row"><%= report.id %></th>
                                      <td colspan="6"><a href="/police/report_show/<%=report.id %>"><%= report.title %></a></td>
                                      <td><%= report.user.email %></td>
                                      <td colspan="3"><%= report.updated_at%></td>
                                    </tr>
                                <% end %>
                              </tbody>
                            </table>
                            <%= paginate @my_reports %>
                            <% else %>
                                <h1 style="text-align:center;">작성한 신고글이 없습니다.</h1>
                            <% end %>
                      </div>
                </div>
            </div>
    </div>
    
    <!--1. 자기 정보-->
    
        
    
    
    
    <!--2. 자기가 신청한 이벤트 정보-->
    
    <!--3. 내가 작성한 신고 글-->


    </body>
</html>