<html>
    <head>
        <link rel="stylesheet" href="/css/time.css"></link>
    </head>
    
    <body>
        <div class="container">
            <div class="search_box">
              <form class="form-inline" action="/plan/search" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search_info">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
           </div>
           <h1 class="day_count">"<%= @word %>"에 대한 검색결과 입니다.</h1>
           <div class="search_result">
                <% @search.each do |singer| %>
                    <div class="singer row <%= singer.crass %>">
                        <div class="col-4 img_div">
                            <img class="singer_img" src="<%= singer.img_addr %>" alt="<%=singer.name %>"></img>
                        </div>
                        <div class="s_info col-8 align-middle">
                            <h1><%= singer.name %></h1>
                            <h2>#<%= singer.day %>일차 #<%= singer.st_time %>시 시작 #<%= singer.place %></h2>
                            <h3><%= singer.info %></h3>
                         </div>
                    </div>
                <% end %>
            </div>
        </div>
    </body>
</html>



