<!DOCTYPE html>
<html lang="en">

  <head>
       <link rel="stylesheet" href="/css/time.css"></link>
  </head>

  <body>

  <div class="container">
   
    <h1 class="day_count"><일차별 전체라인업></h1>
  </div>

  <section class="all_time">
    <div class="container">
      <div class="lineup">
        
          <div id="accordion">
            <div class="card">
             
                
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="time_header">
                     <div class="card-header" id="headingOne">
                    <h2 class="mb-0">1일차 일정</h2>
                    </div>
                  </button>
                
              
          
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body" style="background-color:#F6D8E0;">
                <% @singer1.each do |singer| %>
                  <div class="singer row <%= singer.crass %>">
                    <div class="col-lg-4 col-sm-6 img_div">
                      <img class="singer_img" src="<%= singer.img_addr %>" alt="<%=singer.name %>"></img>
                    </div>
                    
                      <div class="s_info col-8 align-middle">
                        <h1><%= singer.name %></h1>
                        <h2>#<%= singer.w_day %> #<%= singer.place %></h2>
                        <h3><%= singer.info %></h3>
                      </div>
                  
                  </div>
                  <% end %>
                </div>
              </div>
          </div>
            
            <div class="card">
              
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="time_header">
                    <div class="card-header" id="headingTwo">
                      <h2 class="mb-0">
                        2일차 일정
                      </h2>
                    </div>
                  </button>
                
              
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body" style="background-color:#F6D8E0;">
                  <% @singer2.each do |singer| %>
                  <div class="singer row <%= singer.crass %>">
                    <div class="col-lg-4 col-sm-6 img_div">
                      <img class="singer_img" src="<%= singer.img_addr %>" alt="<%=singer.name %>"></img>
                    </div>
                    
                      <div class="s_info col-8 align-middle">
                        <h1><%= singer.name %></h1>
                        <h2>#<%= singer.w_day %> #<%= singer.place %></h2>
                        <h3><%= singer.info %></h3>
                      </div>
                  
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
            
            <div class="card">
              
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" id="time_header">
                    <div class="card-header" id="headingThree">
                      <h2 class="mb-0">
                        3일차 일정
                      </h2>
                    </div>
                  </button>

              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body" style="background-color:#F6D8E0;">
                 <% @singer3.each do |singer| %>
                  <div class="singer row <%= singer.crass %>">
                    <div class="col-lg-4 col-sm-6 img_div">
                      <img class="singer_img" src="<%= singer.img_addr %>" alt="<%=singer.name %>"></img>
                    </div>
                    
                      <div class="s_info col-8 align-middle">
                        <h1><%= singer.name %></h1>
                        <h2>#<%= singer.w_day %> #<%= singer.place %></h2>
                        <h3><%= singer.info %></h3>
                      </div>
                  
                  </div>
                  <% end %>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    
  </section>

  </body>

</html>
