<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :name, required: true, autofocus: true, input_html: { class: "form-control", id: "exampleInputEmail1", placeholder: "이름을 입력해주세요"} %>
    <%= f.input :phone_number, required: true, autofocus: true, input_html: { class: "form-control", id: "exampleInputEmail1", placeholder: "ex) 010-1234-5164"} %>
    <%= f.input :student_id, required: true, autofocus: true, input_html: { class: "form-control", id: "exampleInputEmail1", placeholder: "ex) 32181818"} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
